.pinglun {
  background-attachment: scroll;
  background-image: url("pinglun.jpg");
  background-position: 1% 50%;
  background-repeat: no-repeat;
  background-size: auto auto;
  margin-right: 20px;
  color: #9E9E9E;
  float: left;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 35px;
  font-size: 15px;
}
.panel-footer{
  color: #9E9E9E;
}
p.text{
  margin-top: 20px;
  text-indent: 2em;
}
.short_recent{
  .table{
    margin-bottom: 0px;
    td{
      padding: 8px 15px;
    }
  }
}
.panel-title-inline{
  white-space:nowrap;
  /*display: inline;*/
  overflow: hidden;
}
