<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p id="copyright">©2012 &ndash;<%= link_to t('site_title'), root_url %></p>
        <p> 本站内容来自网络，用于学习和交流。其版权归原版权人所有，不得用于商业用途。如有侵权请联系本站,谢谢。 </p>
        <p> <%= link_to '站点地图', sitemap_pages_url %> </p>
      </div>
    </div>
  </div>
</footer>
